body {
  background-color: #fff;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  padding: 0; margin: 0;
}

ul {
  list-style: none;
}

input[type='radio'] {
  appearance: none;

  width: 16px;
  height: 16px;
  border: 2px solid gray;
  border-radius: 8px;
  vertical-align: -2px;
  outline: none;
}

input[type='radio']::before {
  display: block;
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(9, 148, 208);
  font-size: 1.2em;
  transform: translate(2px, 2px) scale(0);
  transform-origin: center;
  transition: all 0.2s ease-in;
}

input[type='radio']:checked::before {
  transform: translate(2px, 2px) scale(1);
  transition: all 0.2s cubic-bezier(0.25, 0.25, 0.56, 2);
}
